/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #032b71;
  color: white;
}

.navbar-logo {
  font-size: 24px;
  width: 80px;
  img {
    width: 100%;
  }
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
  position: relative; /* Needed for positioning dropdown */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.mobile-menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.dropdown .dropbtn {
  background-color: #032b71;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-static-item {
  display: flex;
  justify-content: flex-end;
  li {
    list-style: none;
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
  }

  .nav-links-mobile li {
    margin: 10px 0;
  }

  .mobile-menu-icon {
    display: block;
  }

  .dropdown-content {
    position: relative;
  }
}
