/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* background-color: #032b71; */
  /* color: white; */
}

.navbar-logo {
  font-size: 24px;
  width: 80px;
  img {
    width: 100%;
  }
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
  position: relative; /* Needed for positioning dropdown */
}

.nav-links a {
  /* color: white; */
  text-decoration: none;
  font-size: 18px;
}

.mobile-menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.dropdown .dropbtn {
  /* background-color: #032b71;
  color: white; */
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.logo {
  margin-top: 50px;
  img {
    width: 50%;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-static-item {
  display: flex;
  justify-content: flex-end;
  li {
    list-style: none;
    margin: 0 10px;
  }
}

.drawer-container {
  position: relative;
  display: none;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  border: none;
  background: none;
}

.drawer {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  background-color: #fff;
  overflow-x: hidden;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 999;
}

.drawer.open {
  transform: translateX(0);
}

.drawer-nav {
  display: flex;
  flex-direction: column;
  /* padding: 60px 20px; */
}

.drawer-nav ul {
  padding: 0 !important;
  text-align: left;
}

.drawer-nav ul li {
  list-style: none;
  margin: 15px 0;
  border-bottom: 1px solid grey;
  /* border-top: 1px solid grey; */
  padding: 12px;
}

.drawer-nav ul li a {
  list-style: none;
  padding: 10px 0;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  transition: color 0.3s;
  margin: 15px 0;
}

.drawer-nav a:hover {
  color: #000;
}

.close-icon {
  font-size: 36px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  border: none;
  background: none;
  color: #000;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.3s;
}

.backdrop.visible {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .drawer-container {
    display: block;
  }
}
